*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    
    /*----------------------------------------------------*/
    
    /*index*/
    
    
    /*estilo general*/
    
    body{font-family: 'Rajdhani', sans-serif;}
    
        .contenedor{padding: 60px 0;
        width:  90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;}
    
        .titulo{color: #7701A8;
        font-size: 30px;
        text-align: center;
        margin-bottom: 60px;}
    
    
    
    /*header*/
    header{width: 100%;
        height: 500px;
        background: #fc4b1a6b;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f7b6339c, #fc4b1a96),url(../assets/img/fondo\ camiones.jpg);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f7b6339c, #fc4b1a96),url(../assets/img/fondo\ camiones.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        position:relative;
        
    }
    
    nav{
        text-align: right;
        padding: 30px 10px 0 0;
        background-color: rgba(0, 0, 0, 0.733);
        height: 70px;
        position:fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1000;
        
    }
    
    nav>a{color: rgb(0, 255, 13);
        font-weight: 300px;
        text-decoration: none;
        margin-right: 10px;}
    
    nav>a:hover{border-bottom-style: solid;
    border-bottom-color: rgb(0, 255, 13);}
    
    header .textos-header{
        display: flex;
        height: 400px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
        padding-top: 50px;
        }
    
    .textos-header h1{
        font-size: 50px;
        color: rgb(41, 0, 59);}
    
    .textos-header h2{
        font-size: 30px;
        font-weight: 300;
        color: rgb(41, 0, 59);}
    
    
    .wave{
        position:relative;
        width: 100%;
        height: 20%;
        bottom:0;}
    
    
    
    /*sobre nosotros*/
    .contenedor-sobre-nosotros{display: flex;
        justify-content: space-evenly;}
    
    .imagen-sobre-nosotros{width: auto;height:fit-content;margin-top: 70px;}
       
    .contenido-textos h3{margin-bottom: 15px;margin-top: 10px;}
    
    .contenido-textos h3 span{background-color:     #f7b733;
        color: rgb(204, 0, 255);
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 2px;
        box-shadow: 0 0 6px 0 rgb(0, 0, 0);
        margin-right: 5px;}
    
    .contenido-textos{padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align:justify;}
    
    
    /*nuestros clientes*/
    .nuestros-clientes{background-color: f2f2f2;}
    
    .galeria-clientes{display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;}
    
    .imagen-clientes{width: 24%;
    margin-bottom: 10px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 5);
    height: 200px;}
    
    .imagen-clientes > img{width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .hover-galeria{position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(0);
        background:#f7b733;
        transition: transform .5s ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;}
    
    .hover-galeria img{width: 80%;}
    
    .hover-galeria p{color: rgb(158, 56, 206);
        margin-bottom: 10PX;
        text-decoration:double;}
    
    .imagen-clientes:hover .hover-galeria{transform:    scale(1);}
    
    
    
    
    /*NUESTROS SERVICIOS*/
    
    .nuestros-servicios{
        padding-bottom: 30px;
    }
    
    .nuestros-servicios-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nuestros-servicios-ind{
        width: 28%;
        text-align: center;
    
    }
    
    .nuestros-servicios-ind img{
        width: 100%;
        border-radius: 20px;
    }
    
    .nuestros-servicios-ind h3{
        margin: 10px 0;
    }
    
    .nuestros-servicios-ind p{
        font-weight: 300;
        text-align: justify;
    }
    
    
    
    /*FOOTER*/
    
    footer{background: #8d21e68e;
    padding: 30PX 0 15PX 0;
    margin: auto;
    overflow: hidden;
    text-align: center;}
    
    .contenedor-footer{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }
    
    .content-foo img{width: 70px;}
    
    
    
     /*----------------------------------------------------*/
    
    
    /*Imagenes*/ 
    .header_grid {  display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
      grid-auto-columns: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "ej1 ej2"
        "ej3 ej4"
        "ej5 ej6"
        "ej7 ej8"
        "ej9 ej10";
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        padding: 50px; 
    }
    
    .header_grid img{border-radius: 15px;
    }
    
    .ej1 { grid-area: ej1; }
    
    .ej2 { grid-area: ej2; }
    
    .ej3 { grid-area: ej3; }
    
    .ej4 { grid-area: ej4; }
    
    .ej5 { grid-area: ej5; }
    
    .ej6 { grid-area: ej6; }
    
    .ej7 { grid-area: ej7; }
    
    .ej8 { grid-area: ej8; }
    
    .ej9 { grid-area: ej9; }
    
    .ej10 { grid-area: ej10; }
    
    
    
    iframe{margin: auto;
        padding: 20px;
        display: block;
        justify-content: center;
    }
    
    
    
    
    /*----------------------------------------------------*/
    
    
    /*contactenos*/
    
    .section1{    
        border-radius: 15px;
        width: 100%;
        height: 200x;
        display:flex;
        justify-content:center;
        align-items: center;
        font-family: 'Rajdhani', sans-serif;
        font-style:inherit;
        }
    
    form{background-color: white;
        width: 400px;
        padding: 10px 10px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        border-style: double;
        border-color: #f7b733;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    
    
    .form{width: 100%;
        margin: auto;}
    
    
    form .grupo{
        position: relative;
        margin: 45px; }
    
    
    input, textarea{
        background: none;
        color: #c6c6c6;
        font-size: 20px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 10px solid var(--colorTextos);
        resize: none;}
            
    input:focus,textarea:focus{
        outline: none;
        color: rgb(94,94,93);}
    
    
    input:focus~label,
    input:valid~label,
    textarea:focus~label,
    textarea:valid~label{
        position: absolute;
        top: -14px;
        font-size: 20px;
        color: rgb(117, 4, 165);}
            
    label{    
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 10px;
        transition: 0.4s ease all;
        pointer-events: none;}
            
    .barra{
        position: relative;
        display: flex;
        width: 100%;}
            
    input:focus~.barra::before, textarea:focus~.barra::before{
         width: 100%}
            
    .barra::before{
        content: '';
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #f7b6339c, #fc4b1a96),url(../assets/img/fondo\ camiones.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */; 
        transition: 0.3s ease all;
        left: 0%;
            }
    button{
        background: #fc4b1a6b;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f7b6339c, #fc4b1a96),url(../assets/img/fondo\ camiones.jpg);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f7b6339c, #fc4b1a96),url(../assets/img/fondo\ camiones.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: block;
        width: 100px;
        height: 40px;
        border: none;
        color: white;
        border-radius: 4px;
        font-size: 16px;
        margin: 10px auto;}
    
    
    
    
    /*-------------------------------------------------------------------------------------------------------*/
    
    
        /*responsive*/
    
    @media screen and (max-width:900px){
    
        /*header*/
        header{background-position: center;}
    
    
        /*sobre nosotros*/
        .contenedor-sobre-nosotros{flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
        .sobre nosotros .contenido-textos{width: 90%;}
    
        .imagen-sobre-nosotros{width: 90%;}
    
    
        /*nuestros clientes*/
    
        .galeria-clientes{width: auto;}
        .imagen-clientes{width: auto}
    
        /*nuestros servicios*/
    
        .nuestros-servicios-cont{flex-direction: column ;justify-content: center;}
    
        .nuestros-servicios-ind{width: 100%;
        text-align: center;}
    
        .nuestros-servicios-ind:nth-child(1), .nuestros-servicios-ind:nth-child(2){margin-bottom: 80px;}
    
        .nuestros-servicios-ind img{width: 90%;}
    
    
        /*footer*/
    
        .content-foo{width: 90%;
        height: 90%;
        display: flexbox;}
    
    
    
        /*Imagenes*/
    
        .header_grid {  
            grid-template-columns: 1fr ;
            grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "ej1" 
              "ej2"
              "ej4" 
              "ej3"
              "ej5" 
              "ej6"
              "ej8" 
              "ej7"
              "ej9" 
              "ej10"
              ;}
        }