
/*sobre nosotros*/


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    .imagen-sobre-nosotros{
        width: auto;height:fit-content;margin-top: 70px;
    }
    .contenido-textos {
        padding: 0px 0px 30px 15px;
        font-weight: 700;
        font-size:large;
        text-align:justify;
        h3{
            margin-bottom: 15px;margin-top: 10px;
            span{
                background-color:$naranjaclaro;
                color: $lila;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                width: 30px;
                height: 30px;
                padding: 2px;
                box-shadow: 0 0 6px 0 $negrosolido;
                margin-right: 5px;      
            }
        }
    }       
}

