<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/iconos/autonomo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Pointrack</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="../views/Contactenos.html">Contactenos</a>
            <a href="../views/imagenes.html">Imagenes</a>
        </nav>
        <sectio class="textos-header" data-aos="fade-up"
        data-aos-duration="3000">
            <h1>OPTIMIZA TUS RECURSOS LOGISTICOS</h1>
            <h2>CON GEOLOCALIZACION INTELIGENTE</h2>
        </sectio>
        <div class="wave" tyle="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 302.76,-43.89 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
    <main>
        <div class="header_grid">
            <div class="ej1" data-aos="fade-up">
                <img src="../assets/img/ej1.jfif" alt="">
            </div>
            <div class="ej2" data-aos="fade-down">
                <h3>Ejemplo 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut exercitationem ad iste optio consequuntur, veritatis pariatur molestiae. Omnis, saepe! Amet corporis deleniti rerum veniam, blanditiis quam vel repellendus voluptatem ratione?</p>
            </div>
            <div class="ej3" data-aos="fade-right">
                <h3>Ejemplo 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut exercitationem ad iste optio consequuntur, veritatis pariatur molestiae. Omnis, saepe! Amet corporis deleniti rerum veniam, blanditiis quam vel repellendus voluptatem ratione?</p>
            </div>
            <div class="ej4" div data-aos="fade-left" >
                <img src="../assets/img/ej2.jfif" alt="">
            </div>
            <div class="ej5" data-aos="fade-up-right">
                <img src="../assets/img/ej3.jfif" alt="">
            </div>
            <div class="ej6"data-aos="fade-up"
            data-aos-anchor-placement="top-bottom">
                <h3>Ejemplo 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut exercitationem ad iste optio consequuntur, veritatis pariatur molestiae. Omnis, saepe! Amet corporis deleniti rerum veniam, blanditiis quam vel repellendus voluptatem ratione?</p>
            </div>
            <div class="ej7" data-aos="fade-down-right">
                <h3>Ejemplo 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut exercitationem ad iste optio consequuntur, veritatis pariatur molestiae. Omnis, saepe! Amet corporis deleniti rerum veniam, blanditiis quam vel repellendus voluptatem ratione?</p>
            </div>
            <div class="ej8" data-aos="fade-down-left">
                <img src="../assets/img/ej4.jfif" alt="">
            </div>
            <div class="ej9" >
                <img src="../assets/img/ej5.jfif" alt="">
            </div>
            <div class="ej10" data-aos="zoom-in-up">
                <h3>Ejemplo 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut exercitationem ad iste optio consequuntur, veritatis pariatur molestiae. Omnis, saepe! Amet corporis deleniti rerum veniam, blanditiis quam vel repellendus voluptatem ratione?</p>
            </div>
        </div>

        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7DTWmzs5tqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </main>


    <footer>
        <div class="contenedor-footer">
        <div class="content-foo">
            <h4>ENCONTRANOS EN NUESTRAS REDES SOCIALES</h4>    
            <a href="https://www.facebook.com/" target="blanck">
                <img src="../assets/redes/facebook.png" alt="">
            </a>
            <a href="https://www.instagram.com" target="blanck">
                <img src="../assets/redes/instagram (1).png" alt="">
            </a>
            <a href="https://www.twitter.com" target="blanck">
                <img src="../assets/redes/twitter (1).png" alt="">
            </a>
            <a href="https://www.whatsapp.com" target="blanck">
                <img src="../assets/redes/whatsapp-logo.png" alt="">
            </a>
            <a href="https://www.youtube.com" target="blanck">
                <img src="../assets/redes/youtube (1).png" alt="">
            </a>
        </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>     
</body>
</html>